* {padding:0; margin:0}
body { font:16px " trebuchet MS"}
label { display: block; padding:10px;}
input { border:1px solid #300; backgroud: #ccc; padding: 10px;  }
button { cursor: pointer; border: 2px solid darkred; backgroud: red; color: #fff}
fieldset { padding: 10px; margin: 0 auto; backgroud: #eee; border:1px solid #ccc }
legend {text-transform: uppercase; font-size: 18px; text-align: center; }
/** 
* coloque essa linha nos arquivos php para estilizar os formulários:
coloque na prate do html, -ora do <?php?>
<link href="css/estilo.css" type="text/css" rel="stylesheet"/>